body {
    height: 100vh;
    background-color: aqua;
}

.columnCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
}

.rowCenter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

h2 {
    margin: 10px;
    padding: 10px;
    text-align: center;
    z-index: -1;
}

p {
    text-align: center;
}

#pc,
#player {
    width: 30%;
    aspect-ratio: 2/1;
    margin: 75px 0;
}

.info {
    width: 50%;
}

img {
    width: 100%;
    aspect-ratio: 1/1;
    z-index: -1;
}

img.rock {
    border-radius: 50%;
    z-index: -1;
}

#playerRock,
#playerPaper,
#playerScissors,
.pcChoice {
    width: 33%;
}

#score {
    width: 200px;
    min-height: 300px;
}

#score,
#player,
#pc {
    border: solid black 2px;
    border-radius: 50px;
}

#playerArea div,
#pcArea div {
    border-radius: 50px;
    border: solid black 2px;
    user-select: none;
}

#gameArea,
#info {
    display: none;
}

input,
button {
    margin: 5px;
}